body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dae2fd;
  color: #445389;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#root {
  display: flex;
  flex-grow: 1;
}

.App {
  display: flex;
  flex-grow: 1;
  margin: 0.8rem 1.8rem;
  flex-direction: column;
}

.header {
  font-size: 2.2rem;
  margin: 0;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

input{
  padding: 1rem;
  border-radius: 31px;
  border: 1px solid #445389;
  margin: 0.5rem 0;
  background:transparent;
}

label {
  font-size: 1.2rem;
}

button {
  padding: 0.8rem 2rem;
  border-radius: 31px;
  border: 1px solid #BDC5E1;
  margin: 0.5rem 0;
  background: #445389;
  color: #BDC5E1;
  font-size: 1.1rem;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
